<ion-header>
    <ion-toolbar>
        <a href="pay"><ion-icon slot="start" name="arrow-back" ></ion-icon></a>
      <ion-title>
        Payment Done
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-card>
      <ion-card-content>
          <ion-row>
            <ion-col style="text-align: center">
              <ion-card-subtitle>Your Ticket has been successfully booked!</ion-card-subtitle>
              <ion-button color="danger" expand="full" shape="round">Book Another Ticket?</ion-button><br>  
            </ion-col>
          </ion-row>
      </ion-card-content>     
      </ion-card>
  </ion-content>
  