<ion-header>
  <ion-toolbar>
      <a href="login"><ion-icon slot="start" name="arrow-back" ></ion-icon></a>
    <ion-title>
      Forgot Password
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-content>
            <ion-item>
                    <ion-icon color="danger" slot="start" name="mail"></ion-icon>
                    <ion-input type="text" class="ion-padding" placeholder="Email" [(ngModel)]="customer.email"></ion-input>
            </ion-item>  
            <ion-item>
              <ion-icon color="danger" slot="start" name="key"></ion-icon>
              <ion-input type="text" class="ion-padding" placeholder="New Password"></ion-input>
            </ion-item> 
            
            <ion-row>
              <ion-col style="text-align: center">
                <ion-button color="danger" expand="full" shape="round" (click)="display(customer)">Submit</ion-button><br>
              </ion-col>
            </ion-row>
          </ion-card-content>     
        </ion-card>
</ion-content>
